<!DOCTYPE html>
<head>
    <%- include ("./includes/head.ejs") %>
</head>
<body>
    <%- include ("./includes/header.ejs") %>

    <nav>
        <a href="/login">Login</a>
        <a href="/cliente">Clientes</a>
        <a href="/servico">Serviços</a>
    </nav>
    <!-- TODO Create Landing Page-->
    <h2>Landing Page</h2>
</body>
</html> 