<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Render Vision - Login</title>
    </head>
    <body>
        <h2>Site login</h2>

        <div>
            <fieldset>
                <h3>Entrar</h3>
                <form name="loginForm" method="post">
                    <label for="login">Insira seu CPF, CNPJ ou E-mail</label>
                    <input type="text" name="login">
                    <label for="pass">Insira sua senha:</label>
                    <input type="text" name="pass">
                </form>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <h3>Registrar novo usuário</h3>
                <form name="registerForm" method="post">
                    <label for="cpf">CPF ou CNPJ</label>
                    <input type="text" name="cpfcnpj">
                    <label for="name">Nome ou Nome da Empressa</label>
                    <input type="text" name="name">
                    <label for="tel">Telefone</label>
                    <input type="tel" name="tel">
                    <label for="email">E-mail</label>
                    <input type="password" name="pass">
                    <label for="pass">Senha</label>
                    <input type="password" name="pass"> <br> <br>
                    <input type="submit" value="Registrar!">
                </form>
            </fieldset>
        </div>
        <!-- TODO preparar view login e register -->
        <!-- TODO estilizar site -->
    </body>
</html>
