<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Render Vision - Login</title>
</head>
<body>
    <h2>Site login</h2>
    <!-- TODO preparar view login e register -->
    <!-- TODO estilizar site -->
</body>
</html>